.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

/* turquoise like your design */
.btn.primary {
  background-color: #20E2E2;
  color: black;
}

.btn.primary:hover {
  background-color: #26f5f5;
}

