.glass-container {
    position: relative;   
    margin:100px;                           
    
    background-color: rgba(167, 235, 245, 0.2);
    

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 20px;
    overflow: auto; 
    min-height: calc(100vh - 200px);     
    height:400px;
    width: 1280px;     
    max-width: 95%;    
}