.workout-buttons{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top:20px;
}

.bottom{
    display:flex;
    gap: 20px;
    justify-content: center;
}

.top{
    display:flex;
    justify-content: center;
}